html, body {
  height: 100%;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#field {
  position: relative;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

#counter {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 30px;
}