html, body {
  height: 100%;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#field {
  position: relative;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

#counter {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 30px;
}

.pause {
  position: absolute;
  right: 260px;
  top: 50px;
  font-size: 30px;
  animation: blink 2s infinite ease-in-out;
}

@keyframes blink {
  0% {color: black;}
  50% {color:yellowgreen;}
  100% {color:black;}
}